@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Space+Mono&display=swap');

/* colors
primary: #0F182A
secondary: #B3C5EF
tertiary: #3ABFF8
header: #0E1525
*/

/* Default and body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #0f182a;
  color: #b3c5ef;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #b3c5ef;
}

h1 {
  margin: 20px 0;
  font-size: 64px;
  color: white;
}

h2 {
  font-family: 'Space Mono', monospace;
  color: #3abff8;
  font-size: 24px;
  scroll-margin-top: 100px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 20px;
  margin: 20px 0;
  line-height: 25px;
}

/* Header */

.header img {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
  background-color: #0e1525;
  position: sticky;
  top: 0;
}

header .default-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin: 20px;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

.header ul li a:hover {
  color: #3abff8;
}

/* Intro section */

.intro {
  width: 100%;
  max-width: 960px;
  margin: 400px auto 600px auto;
  padding: 0 20px;
  text-align: left;
}

/* About section */

.about {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 400px auto;
  padding: 0 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text,
.about-img {
  width: 45%;
}

.about img {
  border-radius: 5px;
}

.about ul {
  font-family: 'Space Mono', monospace;
}

.about ul li {
  margin: 10px 0;
  font-size: 16px;
}

.arrow {
  color: #3abff8;
  font-size: 10px;
}

/* Projects */

.projects {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto 400px auto;
  padding: 0 20px;
}

.projects ul li {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1525;
  padding: 35px;
  border: 1px solid black;
  border-radius: 20px;
}

.project-img {
  padding: 150px 250px;
  background-color: #3abff8;
  background: linear-gradient(rgba(58, 191, 248, 0.3), rgba(58, 191, 248, 0.3)),
    url('./assets/website.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.project-img:hover {
  transform: scale(0.98);
  cursor: pointer;
  background: url('./assets/website.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-text {
  text-align: left;
}

.text-right {
  margin-left: 40px;
}

.text-left {
  margin-right: 40px;
}

.project-desc {
  font-size: 16px;
}

.project-tags {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

.project-icons {
  margin-right: 10px;
}

.project-icons:hover {
  color: #3abff8;
}

/* Contact */

.contact {
  width: 100%;
  max-width: 760px;
  margin: 0 auto 400px auto;
  padding: 0 20px;
  text-align: center;
}

.contact h2 {
  text-align: center;
}

.contact-icons {
  padding: 15px;
  margin-right: 20px;
  border: 1px solid #b3c5ef;
  border-radius: 10px;
  font-size: 65px;
}

.contact-icons:hover {
  color: #3abff8;
  border: 1px solid #3abff8;
  transform: scale(0.98);
}

/* Footer */

.footer {
  padding: 40px 0;
  border-top: 1px solid black;
  background-color: #0d1422;
  text-align: center;
}

.footer p {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  max-width: 250px;
  margin: auto;
}

.footer p:hover {
  color: #3abff8;
}

.hamburger {
  display: none;
}

@media (max-width: 970px) {
  .project-img {
    padding: 110px 210px;
  }
}

@media (max-width: 825px) {
  h1 {
    margin: 10px 0;
    font-size: 48px;
    color: white;
  }

  h2 {
    font-family: 'Space Mono', monospace;
    color: #3abff8;
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 25px;
  }

  .active {
    position: fixed;
    padding: 20px 0 0 0;
    margin: 0;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .img-disable {
    visibility: hidden;
  }

  header .default-menu {
    display: none;
  }

  .header {
    padding: 0;
  }

  .header img {
    margin: 21px 20px;
  }

  .intro {
    margin: 200px auto 300px auto;
  }

  .about {
    display: block;
    margin-bottom: 200px;
    padding: 0 40px;
  }

  .about-text,
  .about-img {
    width: 100%;
    margin: auto;
  }

  .about-img {
    text-align: center;
    margin-top: 50px;
  }

  .about img {
    height: 300px;
  }

  .about ul li {
    font-size: 14px;
  }

  .arrow {
    font-size: 10px;
  }

  .projects {
    margin-bottom: 200px;
  }

  .projects ul li {
    display: block;
    padding: 50px;
    background: linear-gradient(rgba(14, 21, 37, 0.9), rgba(14, 21, 37, 0.9)),
      url('./assets/website.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .project-img {
    display: none;
  }

  .text-right {
    margin-left: 0;
  }

  .text-left {
    margin-right: 0;
  }

  .project-desc {
    font-size: 14px;
  }

  .project-tags {
    font-size: 14px;
  }

  .contact {
    margin-bottom: 200px;
  }

  .contact-icons {
    font-size: 50px;
    padding: 10px;
    margin-right: 10px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer p {
    font-size: 14px;
    max-width: 200px;
  }

  /* Hamburger */

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: 10px 20px;
  }

  .hamburger-menu {
    margin-top: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .hamburger-ul li {
    font-size: 32px;
    margin-top: 50px;
  }

  .line {
    fill: none;
    stroke: #b3c5ef;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}
